<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <title>Document</title>
</head>
<body>
   <h1><%= user.name %> you can update your info here.</h1><br>
   <a href="/movies">Go Back</a><hr>
   <form action="/users/update?_method=PUT" method="POST">
      <label>Name</label><br>
      <input type="text" value="<%= user.name %>" name="name"><br>
      <label>Email</label><br>
      <input type="text" value="<%= user.email %>" name="email"><br>
      <hr>
      <label>Old Password</label><br>
      <input type="text" placeholder="Old Password" name="oldPass"><br>
      <label>New Password</label><br>
      <input type="text" placeholder="New Password" name="newPass"><br>
      <input type="text" placeholder="Repeat New Password" name="newPassRepeat"><br>
      <button type="submit">Update my info</button>
   </form>
</body>
</html>