<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
</head>
<body>
   <form action="/users/register" method='POST'>
      <label for="name" name='name'>Name</label><br>
      <input type="text" name='name' placeholder="name">
      <label for="login" name='email'></label><br>
      <input type="text" name='email' placeholder="email">
      <label for="password" name='password'></label><br>
      <input type="text" name='password' placeholder="password"><br>
      <button type="submit">Register</button>
   </form>
</body>
</html>